<%- include("partials/header.ejs") %>

<h1>blog post</h1>
<a class="add-post-btn" href="/new-post">add blog post</a>

<div class="home-titles">
    <% if (locals.articles) { %>
        <% articles.forEach(article => { %>
            <a class="main-title" href="/article/<%= article.id %>"><%= article["articleName"] %></a>

        <% }); %>
    <% } %>
</div>


<%- include("partials/footer.ejs") %>


