<%- include("partials/header", locals) %>

<div class="title-wrapper">
    <img class="circle" src="/images/elementcircles.png" alt="uneven circle made from black lines">
    <h1 class="homepage-title">blog <br> post</h1>
</div>

<a class="add-post-btn" href="/new-post">add blog post</a>

<div class="home-art-titles">
    <% if (locals.articles) { %>
        <% articles.forEach(article => { %>
            <div class="art-titles-wrapper">
                <a class="home-art-title" href="/article/<%= article.id %>"><%= article["articleName"] %></a>
                <img class="arrow" src="/images/arrow.svg" alt="" width="15px">
            </div>
            <div class="line"></div>

        <% }); %>
    <% } %>


</div>


<%- include("partials/footer.ejs") %>


