<%- include("partials/header.ejs") %>

<form action="/submit" method="POST">
    <input type="text" name="articleName" value=""><br>

    <input type="text" name="articleText" value=""><br><br>
    
    <input type="submit" value="Submit">
  </form>

<%- include("partials/footer.ejs") %>
