<%- include("partials/header.ejs") %>

<form action="/submit" method="POST">
    <input type="text" name="articleName" value="" required><br>

    <input type="text" name="articleText"><br><br>
    
    <input type="submit" value="Submit">
  </form>

  <a href="/"> discard</a>

<%- include("partials/footer.ejs") %>
