<%- include("partials/header", locals) %>

<a class="go-home" href="/">blog post</a>

<form action="/submit" method="POST">
  <input class="form edit-form form-name" type="text" name="articleName" value="" required><br>

  <input class="form edit-form form-text"  type="text" name="articleText"><br><br>
  
  <button class="btn submit-btn" type="submit">submit</button>
</form>

<a class="btn" href="/"> discard</a>

<%- include("partials/footer.ejs") %>
