
/* || ALL AND FONTS */
* {
    --red-color: #D42043;
    --black-color: #1B1A1A;
    font-family: 'Myanmar Khyay', 'Gill Sans', 'Trebuchet MS', sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

@font-face {
    font-family: 'Myanmar Khyay';
    src: url(./font/Khyay-Regular.ttf);
    font-style: normal;
}

/* font colors */
.add-post-btn:hover, .btn:hover, .form, .article-text, .home-art-title, .home {
    color: white;
}

.homepage-title, .add-post-btn {
    color: var(--black-color);
}

.btn, .go-home, .article-name {
    color: var(--red-color);
}

/* || GRIDS & LAYOUT */

/* HOMEPAGE -- red */ 

.homepage-layout {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
}

.title-wrapper {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.homepage-title {
    margin-bottom: 40%;
    font-size: 2.8em;
    line-height: 1.1em;
}

img.circle {
    position: absolute;
    transform: rotate(-20deg);
    left: -200px;
    top: -200px;
    width: 500px;
    height: auto;
    z-index: -1;
    overflow: visible;
}

.add-post-btn {
    align-self: flex-end;
    font-size: 20px;
}

.homepage {
    background-color: var(--red-color);
}

/* homepage articles */ 

.art-titles-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.home-art-titles {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.home-art-title {
    margin: 3% 0;
    font-size: 18px;
    text-transform: uppercase;
}

.line {
    background-color: white;
    width: 100%;
    height: 0.005em;
}

/* OTHERS -- black */
.dark {
    background-color: var(--black-color);
}

.dark-layout {
    display: grid;
}

/* || BUTTONS & LINKS  */ 
a {
    text-decoration: none;
}

.add-post-btn {
    font-weight: 500;
}

.btn {
    font-size: 16px;
}

.submit-btn {
    padding: 0;
    background: none;
    border-style: none;
    cursor: pointer;
}

/* || FORMS */
.form {
    border-color: var(--red-color);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    background-color: var(--black-color);
}

.form:focus {
    border-color: var(--red-color);
    outline: none;
}

/* change the autofil background and text color */ 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--black-color) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}