/* all and fonts */
* {
    --red-color: #D42043;
    --black-color: #1B1A1A;
    font-family: 'Myanmar Khyay', 'Gill Sans', 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Myanmar Khyay';
    src: url(./font/Khyay-Regular.ttf);
    font-style: normal;
}

/* font colors */
.add-post-btn:hover,.btn:hover, .form, .article-text, .home-art-title, .home {
    color: white;
}

.homepage-title, .add-post-btn {
    color: var(--black-color);
}

.btn, .go-home, .article-name {
    color: var(--red-color);
}

/* homepage -- red */ 

.home {
    background-color: var(--red-color);
}

.home-article-titles {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.home-art-title {
    margin: 10px;
    font-size: 20px;
}

/* others -- black */
.dark {
    background-color: var(--black-color);
}

/* this is for all pages for now, but not sure if that's the way" */
main {
    display: flex;
    flex-direction: column;
}

/* forms */
.form {
    border-color: var(--red-color);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    background-color: var(--black-color);
}

.form:focus {
    border-color: var(--red-color);
    outline: none;
}

/* buttons & links  */ 
a {
    text-decoration: none;
}

.add-post-btn {
    font-weight: 500;
}

.btn {
    font-size: 16px;
}

.submit-btn {
    padding: 0;
    background: none;
    border-style: none;
    cursor: pointer;
}

/* change the autofil background and text color */ 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--black-color) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}